body {
  margin: 0;   
  
}
*{
  font-family: "Montserrat", sans-serif;
}

p{
  font-size: 16px;
  color: rgba(119, 78, 46, 100%);
  font-weight: 400;
}
.container{
  padding-left: 10%;
  padding-right: 10%;
  margin: auto;
}
 


.container_wrapper {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  
}

header nav {
width: 50%;
display: flex;
justify-content: space-around;
align-items: center;

}
header nav a{
text-decoration: none;
font-size: 16px;
  color: rgba(119, 78, 46, 100%); 
}



main .introduce {
display: flex;
justify-content: space-between;
padding: 20px;
align-items: center;
}

main .introduce .description {
width: 45%;
padding: 20px;
}
main .introduce .description  button{
color:white;
background-color: #774E2E;
width: 70%;
margin-top: 40px;
padding: 20px;
}

main .introduce .description h2{
font-size: 110px;
color: #F37F34;
}


main .introduce .description h2 span{
color: #774E2E;
}

main .introduce img {
width: 45%;
}
main .products {
background-color: #FFF9EA;
padding-top: 150px;
padding-bottom: 150px;

}

main .products .cards {
display: flex;
justify-content: space-evenly; 

}

main .products  h2{
text-align: center;
color: #F37F34;
  font-size: 72px;
}
main .products  h2 span{
color: #774E2E;
}

main .products .cards .list_product {
width: 30%;
background-color: white;
box-sizing: border-box;
padding: 10px;

}

main .products .cards div img {
width: 100%;
}

main .products .cards div h3{
text-align: center;
color: #673B19;
  font-size: 24px;
}
main .products .cards div p{
text-align: center;
}
main .products .cards  div .product_description {
width: 100%;
display: flex;
flex-direction: column;
}
main .advice_conteiner{
display: flex;
justify-content: space-between;
padding: 20px;
align-items: center;

}

main .advice_conteiner .advice_description {
width: 45%;
padding: 20px;
}
main .advice_conteiner .advice_description h2{
font-size: 72px;
color: #F37F34;
}
main .advice_conteiner .advice_description h2 span{
  color: #774E2E;
}
main .advice_conteiner .advice_description img {
width: 30%;
}


  

footer{
background-color: #774E2E;
margin: 150px 0 0 0;
}
footer .container .container_footer {
display: flex;
}


footer .container_footer  p{
  color: white;
font-size: 24px;
align-items: center;
padding-left: 20%;
}
@media (max-width:1100px) {
  .container .advice_conteiner {
    width: 50%;
  }
  
}
@media (max-width:900px) {
  .container .advice_conteiner {
    width: 40%;
  } 
}
@media (max-width:700px) {
  .container .container_wrapper  {
    
    
    
  }
  .container .container_wrapper nav {
  
  align-items: center;
  width: 100%;
  }
  .container .introduce {
    flex-direction: column;
    width: 100%;
 
 }
 .container .introduce img {
  
  width: 100%;

}
 .container .introduce .description {
  width: 100%;
 }
 .container .introduce .description button{
  width: 100%;
 }
 .container .introduce .description h2{
  text-align: center;
  
 }
 
 .products .container .cards{
  flex-direction: column;
 }

 .products .container .cards .list_product{
  width: 100%;
 }
.advice_conteiner{
  flex-direction: column;
  
}
.advice_conteiner .advice_description {
  width: 100%;
  align-items: center;
}
main .advice_conteiner h2{
  width: 100%;
}

}





